<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>head</key>
	<dict>
		<key>Name</key>
		<string>头部</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Category</key>
				<string>head</string>
				<key>hasIndication</key>
				<integer>1</integer>
				<key>i_ImagePath</key>
				<string>taiyangxue.png</string>
				<key>i_SoundPath</key>
				<string>head_1_description</string>
				<key>i_Description</key>
				<string>太阳穴在耳廓前面，前额两侧，外眼角延长线的上方.</string>
				<key>startSec</key>
				<real>2.26</real>
				<key>File</key>
				<string>head_1</string>
				<key>Name</key>
				<string>点揉太阳穴</string>
				<key>Content</key>
				<string>双手手指指腹轻轻点揉两侧太阳穴，以太阳穴为轴，边点揉边推擦1分钟。Part2给大脑良性刺激，解除疲劳、振奋精神、能继续保持注意力集中。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>34</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>head</string>
				<key>hasIndication</key>
				<integer>1</integer>
				<key>i_ImagePath</key>
				<string>baihuixue.png</string>
				<key>i_SoundPath</key>
				<string>head_2_description</string>
				<key>i_Description</key>
				<string>百会穴在头顶正中线与两耳尖联线的交汇处，是众多经脉汇集之处。</string>
				<key>startSec</key>
				<real>2.26</real>
				<key>File</key>
				<string>head_2</string>
				<key>Name</key>
				<string>按揉百会穴</string>
				<key>Content</key>
				<string>食指和中指并拢，按压百会穴，缓缓用力，有酸胀感为宜。同时可做轻柔缓和的环形按揉，保持1分钟时间。Part2按揉百会穴可以安神定志、醒脑益智、提升人体阳气。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>head</string>
				<key>hasIndication</key>
				<integer>1</integer>
				<key>i_ImagePath</key>
				<string>fengchixue.png</string>
				<key>i_SoundPath</key>
				<string>head_3_description</string>
				<key>i_Description</key>
				<string>风池穴位于颈部后头骨下，两条大筋外缘陷窝中，相当于耳垂平行处。</string>
				<key>startSec</key>
				<real>2.26</real>
				<key>File</key>
				<string>head_3</string>
				<key>Name</key>
				<string>按揉风池穴</string>
				<key>Content</key>
				<string>将两手拇指指腹分别按在两侧风池穴，环形转动按揉穴位，可感到此处有明显的酸胀感，保持1分钟。Part2缓解头痛、颈部酸痛效果显著，还能缓解眼睛疲劳。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>shoulder</key>
	<dict>
		<key>Name</key>
		<string>肩部</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Category</key>
				<string>shoulder</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>elbow_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>shoulder_4</string>
				<key>Name</key>
				<string>手臂拉伸运动</string>
				<key>Content</key>
				<string>抬起右手臂，肘关节弯曲，置于脑后。用左手抓住右手手肘，向左侧拉伸，保持姿势5秒；接下来换手练习，保持腹部收紧，肩胛放松，重复此组动作3次。Part2放松上臂和背部肌肉，缓解手臂疲劳。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>shoulder</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>shoulder_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>shoulder_1</string>
				<key>Name</key>
				<string>肩部拉伸运动</string>
				<key>Content</key>
				<string>保持身体坐姿，挺胸收腹，双手于体后伸直。掌心朝背部，十指相扣，向后上方缓慢移动至极限，保持15（可调整）秒，对肩部三角肌进行拉伸，身体还原，接下来双手于体前相扣，掌心向外，拉伸肘关节，保持15秒，身体还原，放松。重复动作1次。Part2缓解肩胛疼痛，放松长时间办公造成的肩胛紧张。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>shoulder</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>shoulder_2_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>shoulder_2</string>
				<key>Name</key>
				<string>扩肩运动</string>
				<key>Content</key>
				<string>把双手搭在肩膀上，向前摆动，让双手肘部相互触碰，然后向后摆动，尽量把胸腔打开，同时挺胸抬头。重复动作10次。接下来将肘部从前到后绕一个圈，然后反方向练习，做的时候尽量将肘部走一个最大的圆形，重复动作2次。Part2缓解肩胛疼痛，放松长时间办公造成的肩胛紧张。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>shoulder</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>shoulder_2_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>shoulder_3</string>
				<key>Name</key>
				<string>肩部侧压运动</string>
				<key>Content</key>
				<string>双手于体前交叉，左手贴于胸前，向右伸直，右手屈肘，缓慢用力，向内按压左手上臂，保持3秒，手臂放下，换手进行另一侧的拉伸，重复此组动作3次。完成后甩手放松。Part2缓解肩胛疼痛，放松长时间办公造成的肩胛紧张。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>neck</key>
	<dict>
		<key>Name</key>
		<string>颈部</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Category</key>
				<string>neck</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>neck_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>neck_1</string>
				<key>Name</key>
				<string>颈部运动</string>
				<key>Content</key>
				<string>眼睛平视前方，头缓慢向左转，眼看左肩延长线,停顿3秒钟，感受颈部右侧肌肉的拉伸；再向右转，看右肩延长线，停顿3秒钟，慢慢收回，重复此动作3次。
                    接下来，将下巴贴在胸前,让头部顺时针缓慢转动3圈，保持深呼吸,让头颈部在转动中感到舒畅，（模型中的人要停顿一下）再换方向从右到左转3圈。Part2缓解颈部疲劳和肌肉酸痛感。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>neck</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>neck_2_2.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>neck_2</string>
				<key>Name</key>
				<string>颈部运动</string>
				<key>Content</key>
				<string>将双手交叉放到脑后，向前缓缓用力，让下巴触碰锁骨，停住5秒，保持腹部收紧，肩胛放松，慢慢抬头，放松呼吸；接下来将双手按住前额，向后用力，停住5秒，感受颈部肌肉的拉伸，慢慢还原。重复此组动作1次。
接下来用右手盖住左侧耳朵轻压，让头部向右侧缓慢倾斜，停顿5秒，慢慢还原；然后进行反方向练习，重复此组动作1次。Part2可预防和缓解因长时间保持颈部不动引起的颈椎病和颈肌劳损等颈部疾病。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>neck</string>
				<key>hasIndication</key>
				<integer>1</integer>
				<key>i_ImagePath</key>
				<string>houxixue.png</string>
				<key>i_SoundPath</key>
				<string>neck_3_description</string>
				<key>i_Description</key>
				<string>后溪穴位于小指尺侧，第五掌骨头后方。</string>
				<key>startSec</key>
				<real>2.5</real>
				<key>File</key>
				<string>neck_3</string>
				<key>Name</key>
				<string>滚揉后溪穴</string>
				<key>Content</key>
				<string>将双手握拳，把后溪穴所在部位放在桌子边缘，用腕关节带动双手，轻松的来回滚动，穴位处有轻微的酸痛感，保持一分钟。Part2后溪穴有舒经利窍、宁神之功。适合经常坐在电脑前的上班族、发育中的孩子，可预防驼背、颈椎、腰部、腿部疼痛，也有保护视力、缓解疲劳、补精益气的功效。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>leg</key>
	<dict>
		<key>Name</key>
		<string>腿部</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Category</key>
				<string>leg</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>leg_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>leg_1</string>
				<key>Name</key>
				<string>大腿拉伸运动</string>
				<key>Content</key>
				<string>两脚站立，抬起右脚，用手抓住右脚踝，借助手臂的力量向内按压脚后跟，停留10秒钟，保持身体直立，动作还原，现在进行换脚练习，将此组动作重复2次。Part2此动作可以增加腿部柔韧性，增加腿部和腰部的力量。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>leg</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>leg_2_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>leg_2</string>
				<key>Name</key>
				<string>小腿拉伸运动</string>
				<key>Content</key>
				<string>坐在椅子上，伸直右腿，两手抱住右膝盖内侧。将脚尖绷直，停顿5秒钟。然后将脚掌向内用力勾起，停顿5秒钟，现在换腿进行练习。重复此动作2次。Part2此动作能够放松小腿肚，缓解长期穿高跟鞋使腿部浮肿带来的沉重感和酸软感。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>butt</key>
	<dict>
		<key>Name</key>
		<string>肛部</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Category</key>
				<string>butt</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>butt_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>butt_1</string>
				<key>Name</key>
				<string>提肛活动</string>
				<key>Content</key>
				<string>收腹，慢慢吸气，同时肛门用力内吸上提，紧缩肛门，屏住呼吸并保持收提肛门3秒钟，然后全身放松，自然呼气。反复运动20次。Part2提肛运动能改善局部血液循环，改善肛门括约肌功能，预防肛门松弛，对防治痔疮和脱肛有良好疗效。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>back</key>
	<dict>
		<key>Name</key>
		<string>背部</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Category</key>
				<string>back</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>back_2_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>back_1</string>
				<key>Name</key>
				<string>背部拉伸运动</string>
				<key>Content</key>
				<string>背部挺直，双手掌心相对，尽力向上伸直，停留20秒，挺胸，收腹，保持均匀呼吸，（停顿）感受能量从指尖进入身体，从上至下，流过全身。双手放下。重复此动作2次。Part2此动作对于肩部和背部肌肉是一种综合锻炼，可以有效缓解因伏案工作，学习带来的背部疼痛问题。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>back</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>back_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>back_2</string>
				<key>Name</key>
				<string>胸椎运动</string>
				<key>Content</key>
				<string>双手抬起，相互抱住肘关节放在脑后，腹部和大小腿收紧，随着吸气，头部向后延伸，到达极限，停顿5秒，胸椎保持向上。随着呼气，身体慢慢恢复直立，重复动作3次。Part2此动作能缓解肩颈和背部酸痛，还可有效地消除肺部因伏案而造成的压抑感，增强心肺功能。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>elbow</key>
	<dict>
		<key>Name</key>
		<string>肘部</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Category</key>
				<string>elbow</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>elbow_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>elbow_1</string>
				<key>Name</key>
				<string>手臂拉伸运动</string>
				<key>Content</key>
				<string>抬起右手臂，肘关节弯曲，置于脑后。用左手抓住右手手肘，向左侧拉伸，保持姿势5秒；接下来换手练习，保持腹部收紧，肩胛放松，重复此组动作3次。Part2放松上臂和背部肌肉，缓解手臂疲劳。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>waist</key>
	<dict>
		<key>Name</key>
		<string>腰部</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Category</key>
				<string>waist</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>waist_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>waist_1</string>
				<key>Name</key>
				<string>腰部运动</string>
				<key>Content</key>
				<string>两脚站立，挺胸收腹，双手叉腰，将腿向后抬起，脚尖离地面10厘米，保持这个姿势15秒，膝关节、脚踝放松，注意保持身体平衡，背部直立。将腿放下，换腿进行练习。重复此组动作1次Part2此操对腰椎、腰背部肌肉是一种综合锻炼，对腰肌劳损、椎间盘突出、腰胝滑脱等有明显的缓解作用。对臀部肌肉也有锻炼效果。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>waist</string>
				<key>hasIndication</key>
				<integer>1</integer>
				<key>i_ImagePath</key>
				<string>shengshuxue.png</string>
				<key>i_SoundPath</key>
				<string>waist_2_description</string>
				<key>i_Description</key>
				<string>肾俞穴在第二腰椎棘突旁左右各二指宽处。第二腰椎棘突位于人体背部与肚脐正对的位置。</string>
				<key>startSec</key>
				<real>1.9</real>
				<key>File</key>
				<string>waist_2</string>
				<key>Name</key>
				<string>搓肾俞穴</string>
				<key>Content</key>
				<string>将双手掌心搓热，按在肾俞穴处，轻轻摩擦1分钟，体会腰部由内到外发热的感觉。Part2搓肾俞穴有疏通经络、强壮筋骨的作用，对防治慢性腰肌劳损、急性腰扭伤效果较好，对于骨质增生、椎间盘突出症、坐骨神经痛也有一定疗效。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>waist</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>waist_3_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>waist_3</string>
				<key>Name</key>
				<string>扭腰运动</string>
				<key>Content</key>
				<string>右腿抬起放在左腿上，向身体左侧牵引，同时腰部向右侧扭转，右手臂向后搭在椅背处，视线看右肩的延长线，停留5秒，保持背部直立身体慢慢回正。换腿进行反方向练习，重复此动作2次。Part2可以预防腰痛，同时扭动腰部带动内脏的活动，增进新陈代谢。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>wrist</key>
	<dict>
		<key>Name</key>
		<string>手腕</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Category</key>
				<string>wrist</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>finger_2_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>wrist_3</string>
				<key>Name</key>
				<string>手指运动</string>
				<key>Content</key>
				<string>伸出双手，手指充分张开，体会手背的酸胀和紧绷感，保持5秒钟，然后迅速握拳，同时弯曲手腕，拉伸手背肌肉，保持5秒，然后双手放松，重复此动作5次，完成后甩手放松。Part2对手指关节、手掌所有伸展肌肉起到综合锻炼效果。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>wrist</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>finger_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>wrist_2</string>
				<key>Name</key>
				<string>手指弯曲运动</string>
				<key>Content</key>
				<string>双手摊开，手指充分张开，绷紧，体会手背的酸胀和紧绷，保持5秒，然后迅速弯曲手指第二关节，成爪状，保持5秒，重复此动作5次，完成后甩手放松。Part2针对办公室常见的“鼠标手”和“键盘手”引起的手部不适有很好的康复作用。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Category</key>
				<string>wrist</string>
				<key>hasIndication</key>
				<integer>0</integer>
				<key>i_ImagePath</key>
				<string>wrist_1_1.png</string>
				<key>i_Description</key>
				<string>null</string>
				<key>File</key>
				<string>wrist_1</string>
				<key>Name</key>
				<string>手腕动作</string>
				<key>Content</key>
				<string>抬起右手臂，掌心向外，指尖朝上，左手按住右手手掌上部，向内挤压到极致，保持按压时间5秒，保持肘关节伸直。然后右手向下翻动，左手按压右手背。向内挤压，保持按压时间5秒。
接下来，右手掌心朝下，手腕部分放松。左手抓住右手掌根部向内旋转。采用静力性拉伸，旋转到极致后保持5秒钟最后掌心朝上，抓住右手掌根部向外旋转。旋转到极致后保持5秒钟，换手进行练习。动作完成后，甩手放松。Part2有效减轻长时间握住鼠标带来的手腕疼痛感。
</string>
				<key>LastDt</key>
				<string></string>
				<key>ExNum</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
