<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Medal</key>
	<array>
		<dict>
			<key>Title</key>
			<string>入门新秀</string>
			<key>Content</key>
			<string>坚持3天连续完成健身操</string>
			<key>Image</key>
			<string>5wood.png</string>
			<key>Day</key>
			<string>3</string>
			<key>Week</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>初级达人</string>
			<key>Content</key>
			<string>坚持1周连续完成健身操</string>
			<key>Image</key>
			<string>5stone.png</string>
			<key>Day</key>
			<string>0</string>
			<key>Week</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>健身能人</string>
			<key>Content</key>
			<string>坚持2周连续完成健身操</string>
			<key>Image</key>
			<string>5iron.png</string>
			<key>Day</key>
			<string>0</string>
			<key>Week</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>中级达人</string>
			<key>Content</key>
			<string>坚持1个月连续完成健身操</string>
			<key>Image</key>
			<string>5tong.png</string>
			<key>Day</key>
			<string>0</string>
			<key>Week</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>健身悍将</string>
			<key>Content</key>
			<string>坚持2个月连续完成健身操</string>
			<key>Image</key>
			<string>5silver.png</string>
			<key>Day</key>
			<string>0</string>
			<key>Week</key>
			<string>8</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>高级达人</string>
			<key>Content</key>
			<string>坚持3个月连续完成健身操</string>
			<key>Image</key>
			<string>5gold.png</string>
			<key>Day</key>
			<string>0</string>
			<key>Week</key>
			<string>12</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>健身圣手</string>
			<key>Content</key>
			<string>坚持半年连续完成健身操</string>
			<key>Image</key>
			<string>5yu.png</string>
			<key>Day</key>
			<string>0</string>
			<key>Week</key>
			<string>24</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>健身专家</string>
			<key>Content</key>
			<string>坚持1年连续完成健身操</string>
			<key>Image</key>
			<string>5diamond.png</string>
			<key>Day</key>
			<string>0</string>
			<key>Week</key>
			<string>24</string>
		</dict>
	</array>
</dict>
</plist>
