<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>head</key>
	<dict>
		<key>cluster</key>
		<integer>0</integer>
		<key>sitting</key>
		<integer>24</integer>
		<key>comp</key>
		<integer>3</integer>
	</dict>
	<key>neck</key>
	<dict>
		<key>cluster</key>
		<integer>1</integer>
		<key>sitting</key>
		<integer>5</integer>
		<key>comp</key>
		<integer>24</integer>
	</dict>
	<key>back</key>
	<dict>
		<key>cluster</key>
		<integer>1</integer>
		<key>sitting</key>
		<integer>6</integer>
		<key>comp</key>
		<integer>24</integer>
	</dict>
	<key>shoulder</key>
	<dict>
		<key>cluster</key>
		<integer>0</integer>
		<key>sitting</key>
		<integer>6</integer>
		<key>comp</key>
		<integer>6</integer>
	</dict>
	<key>wrist</key>
	<dict>
		<key>cluster</key>
		<integer>2</integer>
		<key>sitting</key>
		<integer>24</integer>
		<key>comp</key>
		<integer>5</integer>
	</dict>
	<key>waist</key>
	<dict>
		<key>cluster</key>
		<integer>1</integer>
		<key>sitting</key>
		<integer>24</integer>
		<key>comp</key>
		<integer>24</integer>
	</dict>
	<key>elbow</key>
	<dict>
		<key>cluster</key>
		<integer>2</integer>
		<key>sitting</key>
		<integer>24</integer>
		<key>comp</key>
		<integer>4</integer>
	</dict>
	<key>butt</key>
	<dict>
		<key>cluster</key>
		<integer>0</integer>
		<key>sitting</key>
		<integer>8</integer>
		<key>comp</key>
		<integer>24</integer>
	</dict>
	<key>leg</key>
	<dict>
		<key>cluster</key>
		<integer>0</integer>
		<key>sitting</key>
		<integer>24</integer>
		<key>comp</key>
		<integer>24</integer>
	</dict>
	<key>finger</key>
	<dict>
		<key>cluster</key>
		<integer>0</integer>
		<key>sitting</key>
		<integer>24</integer>
		<key>comp</key>
		<integer>24</integer>
	</dict>
</dict>
</plist>
