<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>overall</string>
					<key>Weight</key>
					<real>0.1</real>
				</dict>
			</array>
			<key>Question</key>
			<string>在日常工作中，您是否经常感到身体疲劳？</string>
			<key>Good1</key>
			<string>几乎没有</string>
			<key>Good0</key>
			<string>偶尔</string>
			<key>Bad0</key>
			<string>经常</string>
			<key>Bad1</key>
			<string>非常频繁</string>
		</dict>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>overall</string>
					<key>Weight</key>
					<real>0.02</real>
				</dict>
				<dict>
					<key>Part</key>
					<string>butt</string>
					<key>Weight</key>
					<real>0.8</real>
				</dict>
			</array>
			<key>Question</key>
			<string>您平均每天坐着或使用电脑的时长有多少？</string>
			<key>Good1</key>
			<string>几乎没有</string>
			<key>Good0</key>
			<string>偶尔</string>
			<key>Bad0</key>
			<string>经常</string>
			<key>Bad1</key>
			<string>非常频繁</string>
		</dict>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>overall</string>
					<key>Weight</key>
					<real>0.08</real>
				</dict>
			</array>
			<key>Parts</key>
			<integer>1000</integer>
			<key>Question</key>
			<string>在日常工作中您会进行走路，拉伸等轻度运动吗</string>
			<key>Good1</key>
			<string>非常频繁</string>
			<key>Good0</key>
			<string>经常</string>
			<key>Bad0</key>
			<string>偶尔</string>
			<key>Bad1</key>
			<string>几乎没有</string>
		</dict>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>wrist</string>
					<key>Weight</key>
					<real>0.8</real>
				</dict>
			</array>
			<key>Parts</key>
			<integer>16</integer>
			<key>Question</key>
			<string>您的手腕，手指有没有因使用鼠标和键盘而引起发麻，酸痛？</string>
			<key>Good1</key>
			<string>几乎没有</string>
			<key>Good0</key>
			<string>偶尔</string>
			<key>Bad0</key>
			<string>经常</string>
			<key>Bad1</key>
			<string>非常频繁</string>
		</dict>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>head</string>
					<key>Weight</key>
					<real>0.8</real>
				</dict>
			</array>
			<key>Parts</key>
			<integer>128</integer>
			<key>Question</key>
			<string>在日常工作中，您会觉得头晕眼花，大脑疲劳吗？  </string>
			<key>Good1</key>
			<string>几乎没有</string>
			<key>Good0</key>
			<string>偶尔</string>
			<key>Bad0</key>
			<string>经常</string>
			<key>Bad1</key>
			<string>非常频繁</string>
		</dict>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>shoulder</string>
					<key>Weight</key>
					<real>0.8</real>
				</dict>
				<dict>
					<key>Part</key>
					<string>neck</string>
					<key>Weight</key>
					<real>0.4</real>
				</dict>
			</array>
			<key>Parts</key>
			<integer>96</integer>
			<key>Question</key>
			<string>您有没有感觉双肩发沉，肩部酸痛胀痛，按压颈部会有疼痛点？ </string>
			<key>Good1</key>
			<string>几乎没有</string>
			<key>Good0</key>
			<string>偶尔</string>
			<key>Bad0</key>
			<string>经常</string>
			<key>Bad1</key>
			<string>非常频繁</string>
		</dict>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>neck</string>
					<key>Weight</key>
					<real>0.4</real>
				</dict>
			</array>
			<key>Parts</key>
			<integer>64</integer>
			<key>Question</key>
			<string>您有没有感觉颈部疼痛，僵硬、活动颈部有“嘎嘎”响声，转动颈部不够灵活等现象？</string>
			<key>Good1</key>
			<string>几乎没有</string>
			<key>Good0</key>
			<string>偶尔</string>
			<key>Bad0</key>
			<string>经常</string>
			<key>Bad1</key>
			<string>非常频繁</string>
		</dict>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>waist</string>
					<key>Weight</key>
					<real>0.8</real>
				</dict>
			</array>
			<key>Parts</key>
			<integer>4</integer>
			<key>Question</key>
			<string>有没有感觉腰或腰骶部疼痛，反复发作，疼痛可随气候变化或劳累程度而变化？</string>
			<key>Good1</key>
			<string>几乎没有</string>
			<key>Good0</key>
			<string>偶尔</string>
			<key>Bad0</key>
			<string>经常</string>
			<key>Bad1</key>
			<string>非常频繁</string>
		</dict>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>back</string>
					<key>Weight</key>
					<real>0.8</real>
				</dict>
			</array>
			<key>Parts</key>
			<integer>8</integer>
			<key>Question</key>
			<string>在拉伸，扭转背部的时候，下背部会不会感到突然疼痛或僵化？ </string>
			<key>Good1</key>
			<string>几乎没有</string>
			<key>Good0</key>
			<string>偶尔</string>
			<key>Bad0</key>
			<string>经常</string>
			<key>Bad1</key>
			<string>非常频繁</string>
		</dict>
		<dict>
			<key>Influence</key>
			<array>
				<dict>
					<key>Part</key>
					<string>leg</string>
					<key>Weight</key>
					<real>0.8</real>
				</dict>
			</array>
			<key>Parts</key>
			<integer>1</integer>
			<key>Question</key>
			<string>在日常工作中，您会因穿高跟鞋而腿脚涨痛吗？</string>
			<key>Good1</key>
			<string>几乎没有</string>
			<key>Good0</key>
			<string>偶尔</string>
			<key>Bad0</key>
			<string>经常</string>
			<key>Bad1</key>
			<string>非常频繁</string>
		</dict>
	</array>
</dict>
</plist>
