<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arr</key>
	<array>
		<dict>
			<key>Name</key>
			<string>neck_3</string>
			<key>Category</key>
			<string>neck</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>butt_1</string>
			<key>Category</key>
			<string>butt</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>leg_3</string>
			<key>Category</key>
			<string>leg</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>leg_2</string>
			<key>Category</key>
			<string>leg</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>leg_1</string>
			<key>Category</key>
			<string>leg</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>waist_3</string>
			<key>Category</key>
			<string>waist</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>waist_2</string>
			<key>Category</key>
			<string>waist</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>waist_1</string>
			<key>Category</key>
			<string>waist</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>back_2</string>
			<key>Category</key>
			<string>back</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>back_1</string>
			<key>Category</key>
			<string>back</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>neck_2</string>
			<key>Category</key>
			<string>neck</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>neck_1</string>
			<key>Category</key>
			<string>neck</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>elbow_1</string>
			<key>Category</key>
			<string>elbow</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>elbow_2</string>
			<key>Category</key>
			<string>elbow</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>finger_1</string>
			<key>Category</key>
			<string>finger</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>finger_2</string>
			<key>Category</key>
			<string>finger</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>wrist_1</string>
			<key>Category</key>
			<string>wrist</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>shoulder_1</string>
			<key>Category</key>
			<string>shoulder</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>head_2</string>
			<key>Category</key>
			<string>head</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>shoulder_2</string>
			<key>Category</key>
			<string>shoulder</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>head_3</string>
			<key>Category</key>
			<string>head</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>head_4</string>
			<key>Category</key>
			<string>head</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>head_1</string>
			<key>Category</key>
			<string>head</string>
		</dict>
	</array>
</dict>
</plist>
