<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>全身关节在活动时发出“响声”，是由于关节松弛摩擦引起的，只要没有外表或感觉上的异常，通常不需要特别处理。</string>
	<string>倒着走路时，身体背部主管后伸的肌肉群得到锻炼，能有效防治腰肌劳损和腰椎间盘突出。</string>
    <string>新鲜空气可以帮助血液畅行，促进肺活量和循环系统。是焕发精神活力和促进免疫系统的妙方。</string>
	<string>良好的睡眠可以使体内的两种免疫细胞数量明显上升，而睡眠不足则会使免疫系统功能降低生病几率随之增加。</string>
	<string> 秋季气候变冷，是疾病的多发季节，睡眠时间可适当延长，以便免疫系统能从忙碌中休整过来。</string>
	<string>晚上9到11点是人体免疫系统修复时间，低音波的古典音乐释放的β波可以刺激脑垂体，对免疫系统的调节起一定的促进和干预作用，让心情更平和</string>
	<string> 对于突然不明原因的有手痛、手麻、头痛症状持续三个月以上的患者，在排除肿瘤之前不适宜做手法按摩或理疗，以防发生意外。</string>
	<string>我们的后枕部和颈部之间的高度差正好能够伸进去一只手，所以选择枕头时，经过头部重量压迫以后枕头的最佳高度是一只手的高度。</string>
	<string>上班族喜欢用手臂当枕头趴在桌上午睡。但这种睡姿对于腰痛患者最为适宜的卧具并不是光板床，而是在硬板床上铺上7-9厘米厚的软垫，枕头高度以7厘米为好。这样，仰卧时可保持脊柱的四个生理弯曲，侧卧时脊柱也没有侧弯。</string>
	<string>电脑显示器的摆放最佳角度是让屏幕稍低于平行视线。因为上眼睑覆盖住大部分眼球，眼球暴露面少，可使眼睛保持湿润。</string>
	<string>脱水是头痛的最常见病因之一。上班族们应多喝白开水或新鲜果汁，避免茶和咖啡等含咖啡因的饮料。</string>
	<string>早上起来空腹喝一杯温开水，最好小口小口地喝，可以增进血液循环，冲洗肠胃，让大脑迅速清醒起来。</string>
	<string>春季锻炼宜刚出汗，忌出汗过多，中医认为，汗与心和血有莫大的干系，若汗液排泄过多，会带走体内一些珍贵的微量元素，耗人心血、损人阳气。</string>
	<string>春季早起伸伸懒腰，配以深吸呼，可起到吐故纳新、行气活血、通经络关节、振奋精神的作用，也可解乏、醒神、增气力、活肢节。</string>
	<string>冬季体育锻炼结束后，应及时擦干汗液，添加衣服保暖，避免风寒趁浑身毛孔大张之时，侵入体内致病。</string>
	<string>少乘电梯，多走楼梯。爬楼梯对心血管有益，还能够改善你的腿部肌肉。</string>
	<string>白领不能“坐以待毙”，应以30—40分钟为一个周期，站立或起立走动，分解“脂肪沉淀”的时间，对于健康十分必要。</string>
	<string>中医五行学说认为，肾主藏精，开窍于耳。医治肾脏疾病的穴位有很多在耳部。拉拉双耳，可健肾壮腰、养身延年。</string>
	<string> 饭前一小时食水果效果最佳，水果属生食，先吃生食后吃熟食，体内白细胞不会增多，有利于保护人体免疫系统。</string>
	<string>每晚睡前温水浴，能使全身的关节、肌肉松弛，血液循环加快，助您安然入睡。</string>
	<string>冬季坐办公室的人要特别注意，不要穿太高太紧的高领内衣或毛衫，易压迫颈动脉引起脑组织供血不足，感到颈肩酸痛、呼吸不顺。</string>
	<string>频繁洗手，上班时经常摸键盘，与来访者握手，或者用手摸脸、鼻子等部位，容易产生细菌，所以应该比在家里更频繁地洗手。</string>
	<string>办公室应勤开窗，注意通风。若长时间工作后出现头晕，颧骨周围发红发烫的症状，可能是由于缺氧引起的。</string>
	<string>让双手自然下垂，轻轻抖动甩甩双手，做个“甩手掌柜”，可以预防鼠标手。</string>
	<string>酒后不宜饮咖啡，咖啡具有兴奋大脑和心脏的功能，适量饮用可以提神醒脑、强心利尿。但过量饮用或在酒后饮用，就会有损身体健康。</string>
	<string>颈部运动，能使久坐者的骨连接处产生足够的黏液而变得不干燥，继而可预防关节炎和颈椎病。</string>
	<string>经常面壁下蹲，不仅可以增强股四头肌、臀大肌和减缩臀腹部脂肪，使下肢富于曲线感，还能扩大胸腔和增加肺活量。</string>
	<string>早起锻炼不宜太早。因光合作用需阳光才能进行，一天中早晚污染最严重，中、下午空气较清洁。</string>
	<string>健身运动后，应多吃碱性的食物，如水果、蔬菜、豆制品等，以保持体内酸碱平衡，尽快消除运动带来的疲劳。</string>
	<string>常喝蛋花汤，防治胃溃疡，鸡蛋黄中的卵磷脂，在胃黏膜表面形成一层薄的疏水层，保护胃黏膜，抵抗有害因子侵入。</string>
	<string>大量出汗与减脂无关，大量排汗而不适当补充水分，极易造成人体虚脱。</string>
	<string>运动的时候，如果说话时都要大口大口地喘气并有困难的感觉，就要赶紧歇歇。超负荷的运动对身体有害而无益。</string>
	<string>运动前后，不要忘了补充水份，补水原则是少量多次。</string>
	<string>慢跑时，脚跟先落地，接着全脚掌触地可有效避免小腿变粗。</string>
	<string> “咬牙切齿”，可以拉动头部肌肉，促进头部血液循环，起到清醒大脑，增强记忆的作用。</string>
	<string>运动前不宜剃毛，因经剃刮后的皮肤特别敏感，运动时的汗液会刺激这些部位的皮肤，使之发炎并有刺痛感。</string>
	<string>空腹晨练不利健康，宜吃些易消化的食物，如香蕉、葡萄干、运动饮料等，30分钟之后再运动。</string>
	<string>剧烈运动时和运动后不可大量饮水，因饮水过多会破坏体内水盐代谢平衡，影响人体正常生理功能，甚至发生肌肉痉挛现象。</string>
	<string>若肌肉拉伤，在痛点敷上冰块或冷毛巾，保持30分钟，以使小血管收缩，减少局部充血、水肿。切忌搓揉及热敷。</string>
	<string>小量随意运动锻炼效果最佳.因这运动既可满足机体活动的需要，又最大限度地愉悦锻炼者的身心，而长寿最主要的原因就是身心愉悦。</string>
</array>
</plist>
